*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: none;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: rgb(253, 250, 223);
}

nav{
    height: 80px;
    width: 100%;
    background-color: rgb(48, 48, 49);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.n-ul{
    display: flex;
    gap: 80px;
    align-items: center;
    padding-right: 460px;
}

ul li a{
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.nav-logo{
    height: 120px;
    border-radius: 50%;
    padding: 30px;
}

.row {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 50px 0px;
}

.level-sec {
    background-color: antiquewhite;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.row {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 50px 0px;
}

.container-1 {
    padding-top: 60px;
    padding-bottom: 30px;
    background-color: rgb(206, 202, 197);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ab-bb{
    font-weight: bold;
}

/* fotter css start */

footer{
    background:#33393F;
    color:#fff;
    padding:40px 20px 15px;
    margin-top:50px;
}

.footer-container{
    display:flex;
    gap:30px;
    flex-wrap:wrap;
}

.footer-box{
    flex:1;
    min-width:180px;
}

.footer-box a{
    display:block;
    color:#fff;
    text-decoration:none;
    margin:5px 0;
}

.copyright1{
    text-align:center;
    margin-top:20px;
    border-top:1px solid gray;
    padding-top:10px;
    font-size:12px;
}

/* footer css closed */

